/*room card styles */
.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid antiquewhite;
    margin: 20px;
}
/* styles.css */
body {
    background-color: wheat;
}


.room img {
    max-width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: wheat;
    padding: 10px;
}
.container{
    display: flex;
    justify-content: center;
}